/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-gold: #c59d5f;
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.4s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --dark-background-color: #111111;
  --dark-background-color-alt: #222222;
  --dark-trim-color: #333333;
  --dark-text-color: var(--clr-primary-8);
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  font-size: 0.875rem;
  /* Light Theme */
  --background-color: #ffffff;
  --background-color-alt: #eeeeee;
  --trim-color: #dddddd;
  --text-color: #ffffff;
  background: var(--background-color);
  color: var(--text-color);
}
ol {
  list-style: none;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

img {
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
=============== 
Navbar
===============
*/
h2 span {
  color: rgb(214, 214, 214);
}
h2 {
  text-decoration: underline;
  color: #49a6e9;
  font-weight: 900;
}
nav {
  box-shadow: var(--light-shadow);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-5);
  transform: rotate(360deg);
}
.links a {
  color: var(--clr-primary-9);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  font-weight: 900;
}
.links a:hover {
  color: var(--clr-primary-5);
}

/* BY DEFAULT HIDE LINKS */
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
/* TOGGLE CLASS */
.show-links {
  height: 8.9rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
    padding-right: 410px;
  }

  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    /* IMPORTANT TO ADD */
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}
/*
=============== 
Projects
===============
*/
.backgroundimg {
  background: linear-gradient(rgba(25, 25, 25, 0.6), rgba(25, 25, 25, 0.6)),
    url("images/hero.jpeg");
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.firstlettercolor {
  color: var(--clr-primary-5);
}
.projects {
  padding: 1rem 0;
}
.titles {
  text-align: center;
  margin-bottom: 1rem;
}
.underlines {
  width: 5rem;
  height: 0.3rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
.btn-containermenu {
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 8px;
}
.filter-btn {
  background: transparent;
  border-color: var(--clr-primary-5);
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  border-radius: var(--radius);
  padding: 0.2rem 0.25rem;
  color: var(--clr-primary-5);
  cursor: pointer;
  transition: var(--transition);
  flex-grow: 1px;
  margin: 5px;
}
.filter-btn:hover {
  background: var(--clr-primary-5);
  color: var(--clr-white);
}
.section-centermenu {
  width: 95%;
  margin: 0 auto;
  max-width: 1980px;
  display: grid;
  gap: 1.5rem 1rem;
  justify-items: center;
}
.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}
.photo {
  object-fit: cover;
  height: 190px;
  border: 0.3rem double var(--clr-primary-5);
  border-radius: var(--radius);
  width: 100%;
}
.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3.5px dotted var(--clr-grey-5);
}
.item-info h4 {
  margin-bottom: 0.1rem;
}
.item-text {
  margin-bottom: 0;
  padding-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .section-centermenu {
    width: 100%;
    margin: 0 auto;
    max-width: 1980px;
    display: grid;
    gap: 1.5rem 1rem;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }
}
/*
=============== 
Darkmode
===============
*/
/*Dark Mode*/
body.theme-dark {
  --background-color: var(--dark-background-color);
  --background-color-alt: var(--dark-background-color-alt);
  --trim-color: var(--dark-trim-color);
  --text-color: var(--dark-text-color);
}

@media (prefers-color-scheme: dark) {
  body.theme-auto {
    --background-color: var(--dark-background-color);
    --background-color-alt: var(--dark-background-color-alt);
    --trim-color: var(--dark-trim-color);
    --text-color: var(--dark-text-color);
  }
}
/*
=============== 
Footer
===============
*/
/*Footer*/
footer {
  background: var(--clr-primary-5);
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}
.social-icon {
  flex-direction: row;
  justify-content: center;
  display: flex;
  align-items: bottom;
}
.social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
.social-item:hover img {
  filter: grayscale(0);
}
@media screen and (max-width: 450px) {
  .social-item img {
    filter: blur(0);
    transition: 0.3s ease filter;
  }
  .social-item:hover img {
    filter: grayscale(0);
  }
  footer {
    position: relative;
  }
}
/*End Of Footer Section*/

/*
=============== 
Extras
===============
*/
/*Spinning Cubes Section*/
@media screen and (min-width: 800px) {
  .backgroundanime {
    background-color: #49a6e9;
    position: relative;
    height: 100vh;
    overflow: hidden;
  }

  .cube li {
    position: absolute;
    list-style: none;
    width: 10px;
    height: 10px;
    background: #104e7a;
    top: -100vh;
    left: -100vw;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
  }
  .cube li:nth-child(1) {
    animation-delay: 2s;
    left: 10vw;
    top: 10vh;
  }
  .cube li:nth-child(2) {
    animation-delay: 4s;
    left: 10vw;
    top: 10vh;
  }
  .cube li:nth-child(3) {
    animation-delay: 6s;
    left: 10vw;
    top: 10vh;
  }

  .cube li:nth-child(10) {
    animation-delay: 8s;
    left: 95vw;
    top: 10vh;
  }
  .cube li:nth-child(11) {
    animation-delay: 10s;
    left: 95vw;
    top: 10vh;
  }
  .cube li:nth-child(12) {
    animation-delay: 12s;
    left: 95vw;
    top: 10vh;
  }
  /* Second Part */
  .cube li:nth-child(13) {
    animation-delay: 8s;
    left: 10vw;
    top: 40vh;
  }
  .cube li:nth-child(14) {
    animation-delay: 10s;
    left: 10vw;
    top: 40vh;
  }
  .cube li:nth-child(15) {
    animation-delay: 12s;
    left: 10vw;
    top: 40vh;
  }
  .cube li:nth-child(16) {
    animation-delay: 2s;
    left: 45vw;
    top: 45vh;
    width: 5px;
    height: 5px;
  }
  .cube li:nth-child(17) {
    animation-delay: 4s;
    left: 45vw;
    top: 45vh;
    width: 5px;
    height: 5px;
  }
  .cube li:nth-child(18) {
    animation-delay: 6s;
    left: 45vw;
    top: 45vh;
    width: 5px;
    height: 5px;
  }
  .cube li:nth-child(19) {
    animation-delay: 8s;
    left: 60vw;
    top: 45vh;
    width: 5px;
    height: 5px;
  }
  .cube li:nth-child(20) {
    animation-delay: 10s;
    left: 60vw;
    top: 45vh;
    width: 5px;
    height: 5px;
  }
  .cube li:nth-child(21) {
    animation-delay: 12s;
    left: 60vw;
    top: 45vh;
    width: 5px;
    height: 5px;
  }
  .cube li:nth-child(22) {
    animation-delay: 2s;
    left: 97vw;
    top: 40vh;
  }
  .cube li:nth-child(23) {
    animation-delay: 4s;
    left: 97vw;
    top: 40vh;
  }
  .cube li:nth-child(24) {
    animation-delay: 6s;
    left: 97vw;
    top: 40vh;
  }
  /* Third Part */
  .cube li:nth-child(25) {
    animation-delay: 2s;
    left: 10vw;
    top: 80vh;
  }
  .cube li:nth-child(26) {
    animation-delay: 4s;
    left: 10vw;
    top: 80vh;
  }
  .cube li:nth-child(27) {
    animation-delay: 6s;
    left: 10vw;
    top: 80vh;
  }
  .cube li:nth-child(28) {
    animation-delay: 8s;
    left: 35vw;
    top: 80vh;
    width: 5px;
    height: 5px;
  }
  .cube li:nth-child(29) {
    animation-delay: 10s;
    left: 35vw;
    top: 80vh;
    width: 5px;
    height: 5px;
  }
  .cube li:nth-child(30) {
    animation-delay: 12s;
    left: 35vw;
    top: 80vh;
    width: 5px;
    height: 5px;
  }
  .cube li:nth-child(31) {
    animation-delay: 2s;
    left: 60vw;
    top: 80vh;
    width: 5px;
    height: 5px;
  }
  .cube li:nth-child(32) {
    animation-delay: 4s;
    left: 60vw;
    top: 80vh;
    width: 5px;
    height: 5px;
  }
  .cube li:nth-child(33) {
    animation-delay: 6s;
    left: 60vw;
    top: 80vh;
    width: 5px;
    height: 5px;
  }
  .cube li:nth-child(34) {
    animation-delay: 8s;
    left: 95vw;
    top: 80vh;
  }
  .cube li:nth-child(35) {
    animation-delay: 10s;
    left: 95vw;
    top: 80vh;
  }
  .cube li:nth-child(36) {
    animation-delay: 12s;
    left: 95vw;
    top: 80vh;
  }

  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
      border-radius: 0;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
      border-radius: 50%;
    }
  }
}
/*End Of Spinning Cubes*/

/*Custom Cursor*/
@media screen and (min-width: 1000px) {
  .cursor {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  .cursor::after,
  .cursor::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-primary-5);
    height: 15px;
    width: 15px;
    border-radius: 50px;
  }
  .cursor::before {
    background-color: var(--clr-primary-5);
  }
  .cursor.click::before {
    animation: click 1s ease forwards;
    background-color: var(--clr-primary-5);
  }
  @keyframes click {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(7);
    }
  }
}
/*End Of Custom Cursor*/

/* Custom Button */
.button-typewriter p {
  animation: typing 3s steps(15) infinite;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.button-typewriter .button__wrapper:hover p {
  animation: blink 0.3s infinite;
}

@keyframes typing {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  55%,
  65%,
  75% {
    opacity: 1;
  }
  60%,
  70% {
    opacity: 0;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
/* End Of Custom Button */
