/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hl(205, 86%, 17%);
  --clr-primary-2: #104e7a;
  --clr-primary-3: #1a6aa2;
  --clr-primary-4: #2d87c8;
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: #6ebef7;
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.4s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --dark-background-color: #111111;
  --dark-background-color-alt: #222222;
  --dark-trim-color: #333333;
  --dark-text-color: #eeeeee;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  font-size: 0.875rem;
  /* Light Theme */
  --background-color: #ffffff;
  --background-color-alt: #eeeeee;
  --trim-color: #dddddd;
  --text-color: #333333;
  background: var(--background-color);
  color: var(--text-color);
}
ol {
  list-style: none;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 0.9;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 0.9;
  }
}
/*
=============== 
Navbar
===============
*/
h2 span {
  color: rgb(214, 214, 214);
}
h2 {
  text-decoration: underline;
  color: #49a6e9;
  font-weight: 900;
}
nav {
  box-shadow: var(--light-shadow);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-5);
  transform: rotate(360deg);
}

.links a {
  color: var(--clr-primary-9);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  font-weight: 900;
}
.links a:hover {
  color: var(--clr-primary-5);
}
/* BY DEFAULT HIDE LINKS */
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
/* TOGGLE CLASS */
.show-links {
  height: 8.9rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
    padding-right: 410px;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    /* IMPORTANT TO ADD */
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}
/*
=============== 
HomePage
===============
*/

/* Image */
.image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.1%;
  border-radius: 50%;
  border: 2px dotted #2d87c8;
}

.backgroundimg {
  background: linear-gradient(rgba(25, 25, 25, 0.6), rgba(25, 25, 25, 0.6)),
    url("images/MePic2.JPG");
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* hello my name is */
.centerthis {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 50px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.centerthis1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.TitleNameIndex1 {
  width: fit-content;
  position: relative;
  color: transparent;
  animation: text_reveal 0.7s ease forwards;
  animation-delay: 1.5s;
}
.TitleNameIndex2 {
  width: fit-content;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 2.5s;
}
.TitleNameIndex3 {
  position: relative;
  width: fit-content;
  color: transparent;
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3.5s;
}

.nameanime1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: var(--clr-primary-5);
  animation: text_reveal_box 1s ease;
  animation-delay: 1s;
}
.nameanime2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: var(--clr-primary-5);
  animation: text_reveal_box 1s ease;
  animation-delay: 2s;
}
.nameanime3 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: var(--clr-primary-5);
  animation: text_reveal_box 1s ease;
  animation-delay: 3s;
}
/* hello my name is animation */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes text_reveal_name {
  100% {
    color: var(--clr-primary-5);
  }
}
/* iPhone 6 and up css */
@media screen and (max-width: 450px) {
  .centerthis {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 0 auto;
    flex-wrap: wrap;
  }
}
/*Iphone 5*/
@media screen and (max-width: 350px) {
  h1 {
    font-size: 2.5rem;
  }
}
/*
=============== 
Darkmode
===============
*/
/*Dark Mode*/
body.theme-dark {
  --background-color: var(--dark-background-color);
  --background-color-alt: var(--dark-background-color-alt);
  --trim-color: var(--dark-trim-color);
  --text-color: var(--dark-text-color);
}

@media (prefers-color-scheme: dark) {
  body.theme-auto {
    --background-color: var(--dark-background-color);
    --background-color-alt: var(--dark-background-color-alt);
    --trim-color: var(--dark-trim-color);
    --text-color: var(--dark-text-color);
  }
}
/*
=============== 
Footer
===============
*/
/*Footer*/
footer {
  background: var(--clr-primary-5);
  width: 100%;
  bottom: 0;
  position: absolute;
}
footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}

.social-icon {
  justify-content: center;
  display: flex;
  align-items: bottom;
}
.social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
.social-item:hover img {
  filter: grayscale(0);
}
@media screen and (max-width: 450px) {
  .social-item img {
    filter: blur(0);
    transition: 0.3s ease filter;
  }
  .social-item:hover img {
    filter: grayscale(0);
  }
}
/*End Of Footer Section*/

/*
=============== 
Extras
===============
*/
/*Dragon Ball Section*/
.stars img {
  width: 50px;
  animation: stars 7s linear infinite;
  background: transparent;
}
.stars {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: -1;
  bottom: 0;
}
@keyframes stars {
  0% {
    transform: translateY(0);
    opacity: -1;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}
.stars img:nth-child(1) {
  animation-delay: 2s;
  width: 25px;
}
.stars img:nth-child(2) {
  animation-delay: 1s;
  width: 35px;
}
.stars img:nth-child(3) {
  animation-delay: 3s;
  width: 45px;
}
.stars img:nth-child(4) {
  animation-delay: 4.5s;
  width: 55px;
}
.stars img:nth-child(5) {
  animation-delay: 3s;
  width: 45px;
}
.stars img:nth-child(6) {
  animation-delay: 6s;
  width: 35px;
}
.stars img:nth-child(7) {
  animation-delay: 7s;
  width: 25px;
}
/*End Of Dragon Ball*/

/* Quote */
.quote-box {
  position: relative;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quote-box h3 {
  font-size: 15px;
  color: var(--clr-primary-10);
}

.quote-box p {
  text-transform: capitalize;
  color: var(--clr-primary-5);
  font-size: 15px;
}

.the-quote-box-btn {
  position: relative;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1000px) {
  .quote-box {
    display: none;
  }
  .the-quote-box-btn {
    display: none;
  }
}

/* End Of Quote */

/* Tooltip */
.tooltip-content {
  position: absolute;
  background-color: var(--clr-primary-5);
  box-shadow: 0px 0px 20px #00000020;
  padding: 30px;
  border-radius: 8px;
  width: 90vw;
  max-width: 300px;
  opacity: 0;
  pointer-events: none;
}
.tooltip-content .arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 10px solid transparent;
  border-bottom-color: var(--clr-primary-5);
  top: 0px;
  left: 50%;
  transform: translate(-50%, -100%) rotate(0deg);
}
.pin {
  position: absolute;
  content: "";
  top: 50%;
  left: 80%;
  height: 25px;
  width: 25px;
  background-color: var(--clr-primary-5);
  border-radius: 50%;
  cursor: pointer;
}
.pin:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--clr-primary-5);
  border-radius: 50%;
  animation: puls-effect 1s ease infinite;
}
.tooltip.active .tooltip-content {
  opacity: 1;
  pointer-events: all;
  display: block;
}

/* Custom Style for tooltip-1 */

.tooltip-1 .pin {
  top: 62%;
  left: 49%;
  height: 15px;
  width: 15px;
  background-color: var(--clr-primary-5);
}
.tooltip-1 .tooltip-content {
  display: flex;
  max-width: 250px;
  align-items: stretch;
  justify-content: center;
  padding: 0;
  background-color: var(--clr-primary-5);
}
.tooltip-1.active .tooltip-content {
  display: flex;
}
.tooltip-1 .tooltip-content .img {
  width: 10%;
  object-fit: cover;
}
.tooltip-1 .tooltip-content .content {
  width: 100%;
  padding: 20px;
}
.tooltip-1 .tooltip-content .content h1 {
  font-size: 24px;
}
.tooltip-1 .tooltip-content .content p {
  font-size: 14px;
}
.tooltip-1 .tooltip-content .content button {
  font-size: 18px;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 20px #00000020;
}

/* custom style for tooltip-2 */

.tooltip-2 .pin {
  top: 10%;
  left: 15%;
  height: 15px;
  width: 15px;
}
.tooltip-2 .tooltip-content .content h1 {
  margin: 20px 0;
}
.tooltip-2 .tooltip-content {
  background-color: var(--clr-primary-5);
}
.tooltip-2 .tooltip-content button {
  font-size: 18px;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 20px #00000020;
}

/* Custom style for tooltip-3 */

.tooltip-3 .pin {
  height: 15px;
  width: 15px;
  top: 10%;
  left: 82%;
}
/* Custom style for tooltip-4 

.tooltip-4 .pin {
  top: 80%;
  left: 5%;
  height: 15px;
  width: 15px;
}
*/
/* Puls Effect For Pins */

@keyframes puls-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

/* Media Query */

@media (max-width: 768px) {
  .tooltip-1 .tooltip-content {
    flex-direction: column;
    max-width: 300px;
  }
  .tooltip-1 .tooltip-content .content,
  .tooltip-1 .tooltip-content .img {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .TheToolTip {
    display: none;
  }
}
/* End Of Tooltip */

/* Custom Button */
@media screen and (min-width: 1000px) {
  *:before,
  *:after {
    content: "";
    position: absolute;
  }

  .main-content .item {
    display: grid;
    grid-template-rows: 1fr min-content;
    align-items: center;
    justify-content: center;
    height: 50vh;
    flex-wrap: wrap;
    background: var(--bg-color);
  }

  button {
    background: transparent;
    color: var(--clr-primary-5);
    border: 4px dotted var(--clr-primary-5);
    border-radius: 50px;
    padding: 0.8rem 2rem;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
    letter-spacing: 2px;
  }

  .button-hand button:before {
    content: "👇";
    font-size: 40px;
    transform: scaleX(-1);
    right: 0px;
    top: -39px;
    animation: up-down 1s infinite;
  }
  .button-hand button .hands:before,
  .button-hand button .hands:after {
    content: "👇";
    font-size: 40px;
    opacity: 0;
    transition: 0.4s ease-in-out;
  }
  .button-hand button .hands:before {
    transform: rotate(-60deg);
    left: -45px;
    top: -10px;
  }
  .button-hand button .hands:after {
    transform: rotate(170deg);
    right: 30px;
    top: 50px;
  }
  .button-hand button:hover .hands:before {
    opacity: 1;
    left: -35px;
  }
  .button-hand button:hover .hands:after {
    opacity: 1;
    top: 40px;
  }

  @keyframes up-down {
    50% {
      margin-top: -20px;
    }
  }
}
/* End Of Custom Button */
